body {
    background-color: #FFFAD7;
    position: relative;
    min-height: 100vh;
}

body, button {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.calc-container {
    display: flex;
    flex-direction: column;
    border: solid 2.5px #ad4242;
    border-radius: 20px;
    height: 550px;
    width: 350px;
    padding: 30px;
    gap: 20px;
    flex-basis: auto;
    background-color: #FF8787;
}

.display {
    border: none;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 18px;
    background-color: #fffce9;
}

.equation {
    font-size: 28px;
}

.display-text {
    font-size: 40px;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.calc-buttons button {
    height: 70px;
    width: 78px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #ff6161;
}

.calc-buttons button:hover {
    filter: brightness(110%);
    box-shadow: 0 4px #ff6161;
    transition: .15s;
}

.calc-buttons button:active {
    box-shadow: 0 1px #ff6161;
    transform: translateY(2.5px);
}

.calc-buttons .number, .decimal {
    background-color: #F8C4B4;
}

.calc-buttons .operator, .equals {
    background-color: #FCDDB0;
}

.all-clear, .backspace, .percent, .negate {
    background-color: #FFFAD7;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(34, 54, 54);
}

.logo {
    width: 23px;
}